.navbar{
  margin: 0 px;
  padding: 0 px;
}

.navbar-list {
  background-color: #163a75ed;
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.navbar-list li {
  margin: 10px;
}

.navbar-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4em;

}

.navbar-list .push-right {
  margin-left: auto;
}