.h2 {
  color: #ffffff;
}

.players{
  background-color: #163a75ed;
}

.players-list{
  display: flex;
  flex-wrap: wrap; 
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.player{
  background-color: #ffffff;
  margin:5px;
  padding: 5px;
  border-radius: 10px;
}