.dates{
  background-color: #163a75ed;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.h2 {
  color: #ffffff;
  justify-content: center;
}

.dates-list{
  display: flex;
  flex-wrap: wrap; 
}

.date{
  background-color: #ffffff;
  margin:5px;
  padding: 5px;
  border-radius: 10px;
}


/* .players{
  background-color: #163a75ed;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}


.h2 {
  color: #ffffff;
  justify-self: center;
}

.players-list{
  display: flex;
  flex-wrap: wrap; 
}

.player{
  background-color: #ffffff;
  margin:5px;
  padding: 5px;
  border-radius: 10px;
} */