.dates{
  background-color: #163a75ed;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

h2 {
  color: #ffffff;
  text-align: center;
}

.dates-list{
  display: flex;
  flex-wrap: wrap; 
}

.date{
  background-color: #ffffff;
  margin:5px;
  padding: 5px;
  border-radius: 10px;
}